*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Libre Franklin', sans-serif;
    text-decoration: none;
    list-style: none;
}


.background{
    background-image: url(img/4e3dc23cab082329b06c4a793ce462a1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    background-color: #63050588;
    width: 100%;
    max-width: 100%;
    height: 100vh;
    
}

header{
    display: flex;
    justify-content: space-around;
    padding-top: 1rem;
    align-items: center;
    text-align: center;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    position: fixed;
    background: transparent;
    transition: all .35s ease;
    background-color: #660e0ecb;
    padding: 14px 14%;
}


.logo{
    font-weight: 500;
    font-size: 1rem;
    color: #c72721;
     
}

.cabeçalho-link{
    display: flex;
    gap: 3rem;
}

.cabeçalho-link a{
    color: #111;
    font-weight: 700;
    transition: 0.3s;
}

.cabeçalho-link a:hover{
    color: #c72721;
}

.icon span{
    font-size: 2rem;
    cursor: pointer;
}

.icon span:hover{
    color: #a7130d;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: rgb(128, 7, 7);
}

section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px 45px;
    background: rgba(160, 11, 11, 0.726);
    width: 500px;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

section h2{
    color: azure;
    font-size: 2.5rem;
    margin: 2rem;
}

section form{
    display: flex;
    flex-direction: column;
    width: 100%;
}

form label{
    color: azure;
    font-size: 18px;
    margin-bottom: 5px;
}

form input{
    padding: 15px;
    outline: none;
    border: 0;
    margin-bottom: 20px;
    font-size: 15px;
    transition: all 0.5s;
}

form input:focus{
    border-radius: 17px;
}

form textarea{
    padding: 10px;
    outline: none;
    border: 0;
    font-size: 15px;
    margin-bottom: 35px;
    transition: all 0.5s;
}

form textarea:focus{
    border-radius: 16px;
}

form button{
    padding: 15px;
    cursor: pointer;
    font-size: 17px;
    background: transparent;
    border: 2px solid #ffffff;
    transition: all 1s;
    margin-bottom: 20px;
}

form button:hover{
    background: #000;
    color: azure;
    border-radius: 17px;
}